appdirs==1.4.4
asgiref==3.7.2
certifi==2023.11.17
distlib==0.3.8
Django==5.0.1
django-bootstrap==0.2.4
django-crispy-forms==2.1
filelock==3.13.1
numpy==1.26.3
pandas==2.1.4
pillow==10.2.0
pipenv==2023.11.15
platformdirs==4.1.0
python-dateutil==2.8.2
pytz==2023.3.post1
six==1.16.0
sqlparse==0.4.4
tzdata==2023.4
virtualenv==20.25.0
virtualenv-clone==0.5.7
