{% extends 'exam/base.html' %} {% block style %}
<style>
 
  .nav {
    height: 5rem;
    /* justify-content: center !important; */
  }

  .custom {
    font-size: 1.5rem;
  }
</style>
{% endblock %} {% block exam %}
<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light nav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse text-center flexing" id="navbarNavDropdown">
    <ul class="navbar-nav text-center">
      <li class="nav-item mx-3 custom">Name: {{request.user}}</li>
      <li class="nav-item mx-3 custom">Email: {{request.user.email}}</li>
      <li class="nav-item mx-3 custom">
        College: {{request.user.student.college}}
      </li>
      <li class="nav-item mx-3 custom">Roll no.: {{request.user.student.roll_no}}</li>
      <!-- <li class="nav-item mx-3 custom">Timer <span id="timer"></span></li> -->
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-8 border border-success p-4 m-2 mx-auto">
      {% if questions %}
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="aptitude-tab" data-toggle="tab" href="#aptitude" role="tab"
            aria-controls="aptitude" aria-selected="true">Aptitude</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="programming-tab" data-toggle="tab" href="#programming" role="tab" aria-controls="programming"
            aria-selected="false">Programming</a>
        </li>
      </ul>
      <div class="mt-4"></div>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="aptitude" role="tabpanel" aria-labelledby="Aptitude"> 
            {% for question in questions_page %} 
                {% if question.category == 'Aptitude' %}
                <h5>Q-{{ question.question_text }}</h5>
                <br />
                    {% for option in option_list %} 
                        {% if option.question.id == question.id %}
                            <input type="radio" name="ans{{question.id}}" value="A" />{{option.option_text1}}<br />
                            <input type="radio" name="ans{{question.id}}" value="B" />{{option.option_text2}}<br />
                            <input type="radio" name="ans{{question.id}}" value="C" />{{option.option_text3}}<br />
                            <input type="radio" name="ans{{question.id}}" value="D" />{{option.option_text4}}<br />
                            <button type="submit" id="{{question.id}}" name="submit{{question.id}}" class="submitAnswer btn btn-sm btn-outline-info form-control">
                              Submit Answer
                            </button>
                        {% endif %}
                    {% endfor %}
                    <br />
                    <hr>
                    {% endif %} 
            {% endfor %}

        </div>
        <div class="tab-pane fade" id="programming" role="tabpanel" aria-labelledby="Programming">
          {% for question in questions_page %} 
          {% if question.category == 'Programming' %}
          <h5>Q-{{ question.question_text }}</h5>
          <br />
              {% for option in option_list %} 
                  {% if option.question.id == question.id %}
                      <input type="radio" name="ans{{question.id}}" value="A" />{{option.option_text1}}<br />
                      <input type="radio" name="ans{{question.id}}" value="B" />{{option.option_text2}}<br />
                      <input type="radio" name="ans{{question.id}}" value="C" />{{option.option_text3}}<br />
                      <input type="radio" name="ans{{question.id}}" value="D" />{{option.option_text4}}<br />
                      <button type="submit" class="btn btn-sm btn-outline-info form-control">
                        Submit Answer
                      </button>
                  {% endif %}
              {% endfor %}
              <br />
              <hr>
              {% endif %} 
      {% endfor %}
                </div>
      </div>
      {% else %}
      <h3>No Qustions</h3>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  window.onload = initall;
   
  var saveAnsButton;
  function initall(){
        saveAnsButton = document.getElementById("save-ans");
        saveAnsButton.onclick = saveans;

        
        
  }
  function saveans(){
      var ans="Not Answered";
      if ($("input:radio[name=name]").is(":checked")){
        ans = $("input[name=name]:checked").val();
      }
      
       
      alert(ans);
      var req = new XMLHttpRequest();
      var url = '/saveans?ans=' + String(ans);
      req.open("GET", url, true);
      req.send();
  }
  
  
  </script>
  <script>
    setInterval(function(){
          Examtimer();
    },1000);
    function Examtimer(){
     var dt = new Date();
  
  
    
      $('#timer').text(dt.getHours()+":"+dt.getMinutes()+":"+dt.getSeconds());
      if(dt.getMinutes()=="37"){
          window.location.href="/result/";
      }
    }
    
 </script>
{% endblock script%}