{% extends 'exam/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Student SignUp {% endblock %}
{% block style %}
<style>
    body,
    html {
        margin: 0;
        padding: 0;
        height: 100%;
        background: #7abecc !important;
    }
    .user_card {
        width: 470px;
        margin-top: auto;
        margin-bottom: auto;
        background: #74cfbf;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;

    }

    .form_container {
        margin-top: 20px;
        width: 100%;
    }

    #form-title{
        color: #fff;

    }
    .login_btn {
        width: 100%;
        background: #33ccff !important;
        color: white !important;
    }
    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .login_container {
        padding: 0 2rem;
    }

    #messages{
        background-color: grey;
        color: #fff;
        padding: 10px;
        margin-top: 10px;
    }
    #id_college{
        height: 2.4em;
    width: 100%;
    border-radius: 4px;
    }
    .form{
        min-width: 100%;
    }

</style>
{% endblock %}
{% block register %}
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <h3 id="form-title">REGISTER ACCOUNT</h3>
            </div>
            <div class="d-flex justify-content-center form_container">

                <form method="POST" action="" class="form">
                    {% csrf_token %}
                    {{ user_form.username.label_tag }}*
                    <div class="input-group mb-3">
                        {{ user_form.username }}
                        
                    </div>
                    <ul>
                        <li>Use Uppercase, Lowercase, Special Characters and Numbers</li>
                        <li>e.g. Smit_Patel_1998</li>
                    </ul>
                    {{ user_form.email.label_tag }}*
                    <div class="input-group mb-2">
                        {{ user_form.email }}
                    </div>
                    {{ user_form.password1.label_tag }}*
                    <div class="input-group mb-2">
                        {{ user_form.password1 }}
                    </div>
                    <ul>
                        <li>Use Uppercase, Lowercase, Special Characters and Numbers</li>
                        <li>e.g. SBV@portal1</li>
                    </ul>
                    {{ user_form.password2.label_tag }}*
                    <div class="input-group mb-2">
                        {{ user_form.password2 }}
                    </div>
                    {{ student_form.college.label_tag }}*
                    <div class="input-group mb-2 field">
                        {{ student_form.college }}
                    </div>
                    {{ student_form.roll_no.label_tag }}*
                    <div class="input-group mb-2">
                        {{ student_form.roll_no }}
                    </div>

                       <div class="d-flex justify-content-center mt-3 login_container">
                         <input class="btn login_btn" type="submit" value="Register Account">
                       </div>
                </form>
            </div>
    
            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    Already have an account? <a href="{% url 'exam:signin' %}" class="ml-2">Login</a>
                </div>
            </div>
            <div class="messeges">
                {% for message in messages %}
                   <p id=messages>{{message}}</p> 
                  
                {% endfor %}
            </div>
        </div>
        
    </div>
    
</div>
{% endblock %}
{% block script %}
<script>
    /* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
//We start indexing at one because CSRF_token is considered and input field 
*/

//Query All input fields
var form_fields = document.getElementsByTagName('input')
form_fields[1].placeholder='Username..Must be unique';
form_fields[2].placeholder='Email..';
form_fields[3].placeholder='Enter password...';
form_fields[4].placeholder='Re-enter Password...';
form_fields[5].placeholder='Roll Number';
//form_fields[6].placeholder='Roll Number';


for (var field in form_fields){	
form_fields[field].className += ' form-control'
}
</script>
{% endblock %}
