{% extends "adminapp/main.html" %}
{% load crispy_forms_tags %}



{% block content %}
    <div class="container my-5">
        <div class="row">
            <div class="col-md-5  shadow-lg bg-white rounded">

                <form action="" method="post" class="form-group text-center">
                    {% csrf_token %}
                    {{question_form|crispy}}
                    
                  
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock  %}
    