{% extends 'adminapp/main.html' %}
{% load crispy_forms_tags %}
{% block style %}
  <style>
    .container{
        max-width: 43em;
    }
  </style>
{% endblock style %}

{% block content %}
<div class="container text-center align-middle my-5">

    <form action="" method="post" class="bootstrap4">
        {% csrf_token %}
        {{admin_form|crispy}}
        <!-- {% for form in admin_form %}
        {{form.label}}:{{form}}<br> -->
        <!-- {% endfor %} -->
        <button type="submit" class="btn btn-info">Create Admin</button>
    </form>
</div>
  
{% endblock  %}

