{% extends "adminapp/main.html" %}

{% block content %}
<div class="container-fluid">
    <div class="colleges col-md-10 my-4 offset-md-1 shadow-lg bg-white rounded align-middle"><h3 class="head text-center text-muted align-middle">Questions<span class="mx-3"><a href="{% url 'addquestion' exam_id %}" class="btn btn-success">Add question</a></span></h3></div>
    <table class="table table-striped">
        <thead>
            
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Question</th>
                <th scope="col" class="text-center">Op1</th>
                <th scope="col" class="text-center">Op2</th>
                <th scope="col" class="text-center">Op3</th>
                <th scope="col" class="text-center">Op4</th>
                <th scope="col" class="text-center">Answer</th>
                <th>Edit</th>
                
            </tr>
        </thead>
        <tbody>
            
        
            {% for question in question_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{question}}</td>
                        {% for option in option_list %}
                          
                          {% if option.question.id == question.id %}
                          <td class="text-center">{{option.option_text1}}</td>
                          <td class="text-center">{{option.option_text2}}</td>
                          <td class="text-center">{{option.option_text3}}</td>
                          <td class="text-center">{{option.option_text4}}</td>
                          <td class="text-center">{{question.answer}}</td>
                          <td class="text-center"><a href="{% url 'edit-question' exam_id=exam_id q_id=question.id %}" class="btn btn-sm btn-outline-dark">Edit</a></td>
                              
                              
                          {% endif %}
                              
                          
                          
                          {% endfor %}
                        </tr>
                {% endfor %}
                    
    
    
                    
            </tbody>
          </table>
      </div>

{% endblock %}